<div id="photos-container" class="container p-3 mx-auto row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <%= javascript_include_tag 'photoApi' %>
    <%= javascript_tag do -%>  
        loadPhotos("<%= ENV["FLICKR_API_KEY"] %>")
    <% end -%>
</div>