<div class="container p-3 mx-auto row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <% @riders.each do |rider| %>
       <%= render partial: 'rider_card', locals: { rider: rider } %>
    <% end %>
</div>